extends layout
mixin render_links(obj, texts)
  - var is_first = true
  each text in texts
    if obj[text.type]
      if !is_first
        span &nbsp;|&nbsp;
      a(href="#{obj[text.type]}", target="_blank")= text['text']
      - is_first = false

mixin render_top_link(obj, texts, additional_notes)
  - var text_to_render, text_type;
  - if (!obj) { obj = {} }
  - for(var i = 0; i < texts.length; i++) {
  -   var text = texts[i];
  -   if (obj[text.type]) {
  -     text_to_render = text['text'];
  -     text_type = text['type'];
  -     break;
  -   }
  - }
  - if(text_type) {
      a(href="#{obj[text_type]}", target="_blank")= text_to_render
  -   if(additional_notes) {
  -     additional_notes = ' &ndash; ' + additional_notes;
      span!= additional_notes
  -   }
  - } else {
      span!= additional_notes
  - }
  
block body
    nav.navbar.navbar-default.navbar-left.navbar-static-top(role="navigation")
      .navbar-inner
        .container
          .navbar-header
          .navbar-collapse.collapse
            ul.nav.navbar-nav#main_nav
              a.navbar-brand(href="/")= title
              li.divider-vertical
              li
                a(custom-link="yes", href="/site/news") News
              li
                a(custom-link="yes", href="/site/about") About
              li
                a(custom-link="yes", href="/site/music") Music
              li
                a(custom-link="yes", href="/site/live") Live
              li
                a(custom-link="no", href="/newsletter-signup") Newsletter
              li
                a(custom-link="yes", href="/site/contact") Contact
              li.divider-vertical
            ul.nav.navbar-right
              li
                .btn-group
                  a(href="http://www.facebook.com/aromano.music").btn.btn-facebook
                    span.glyphicon.icon-user
                  a(href="http://soundcloud.com/angeloromano").btn.btn-soundcloud
                    span.glyphicon.icon-user
                  a(href="http://angeloromano.bandcamp.com").btn.btn-bandcamp
                    span.glyphicon.icon-user
                  a(href="http://www.last.fm/music/Angelo+Romano").btn.btn-lastfm
                    span.glyphicon.icon-user
                  a(href="http://www.youtube.com/user/aromanomusic").btn.btn-youtube
                    span.glyphicon.icon-user
                  a(href="http://www.flickr.com/photos/aromano/sets/72157636423322223/").btn.btn-flickr
                    span.glyphicon.icon-user
    .container.page-body
      .row
        .col-sm-8.col-md-8.col-xs-12
          .content-box#content-container
            block content
        .col-sm-4.col-md-4.col-xs-6
          .content-box
            h4 Angelo on Facebook
            .fb-like-box(data-href="http://www.facebook.com/aromano.music", data-width="240", data-height="240", data-colorscheme="dark", data-show-faces="true", data-header="false", data-stream="false", data-show-border="false")
          .content-box
            h4 Live dates
            ul.list-unstyled
              each concert in upcoming_concerts
                li #{concert.date_short} #{concert.venue}, #{concert.city}, #{concert.country}

    footer.footer Website designed & implemented by Angelo Romano. Pictures by Maja Starakiewicz.

