!!!
html
  head
    title= title
    meta(name='description', content='Angelo Romano - Official music website')
    meta(name='keywords', content='angelo,romano,berlin,music,singer,songwriter,dutch,album,bitter,stories')
    meta(name='robots', content='index,follow')
    meta(name='author', content='Angelo Romano')
    meta(charset='UTF-8')
    script(type='text/javascript', src="/javascripts/jquery-1.10.2.min.js")
    script(type='text/javascript', src="/javascripts/bootstrap.min.js")
    link(rel='stylesheet', href="/stylesheets/bootstrap.min.css")
    link(rel='stylesheet', href="/stylesheets/custom.css")
    != css('app')
    != js('app')
  body.background-001
    div#fb-root
    script
        (function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));

    block body

