extends ../index
block content
    h3 About
    .content
        p I used to live life at its best, at least I always tried to. Sometimes I succeeded, sometimes I failed, but I always tried to be honest enough to admit I am no perfect man. Maybe that is a good explanation of the reason why I write my own songs: I just feel it is a good manner to get out all of those negative thoughs I keep living with, in order to help me surviving the whole world outside.
        p I have been living in several places in my life, I should somehow call myself lucky of that. Even though, well, it shows a huge weakness in my life: the complete lack of staples, my continuous search for freedom and happiness that led me from Sicily to Tuscany, to Canada, back to Tuscany, then to Holland and now here in Berlin. All of these stops have been just an episode in the big movie of my life, and it seems like there will be even more in the future. Because plans are for people without creativity, as I keep saying, and I still could not find a good reason to stop for good and enjoy the idea of stability.
        p Then, I miss the sea, I miss those 17-hour trains that led me from Tuscany to Sicily and all the other ones in the Netherlands where I wrote the largest parts of my upcoming album, I miss the beautiful view of Terschelling island (even though I have been there only once), I miss everything. Including all the things I have never had.
        p And music is a weapon so powerful you can't even figure out. I love to believe it saved my life more than once and it still keep doing so. I started writing stuff at age 17, and became a guitarist one year later. Nowadays people think I am a rather good instrumentalist (and a weird vocalist, which I totally agree about - I would say I am no good at all, indeed). But as I said earlier, music is a form of self-description to me, and I love doing it everywhere. I always have one or two notebooks with me, and I also try to bring a guitar with me everywhere I go. It is good to know you have a friendly companion at your side, one of those who will never betray you even when you are completely alone.
        p <em>The Dutch Album</em> is probably the hardest effort I ever had musically, a serious attempt to properly record and release my most recent songs. After years of work, it was finally released on 29 April 2013. After that, I promptly started working on an album of newer songs, titled <em>Bitter Stories</em>, which was released on 21 October 2013, and for which I am very fond and proud of. Which is encouraging when you have already crossed the harsh 30 years of age barrier.
        p
            a(custom-link="yes", href="/site/equipment") Equipment
