extends ../index
block content
    h3 Contact
    .content
        h4 Facebook
        a(href="http://facebook.com/aromano.music") http://facebook.com/aromano.music

        h4 Soundcloud
        a(href="http://soundcloud.com/angeloromano") http://soundcloud.com/angeloromano

        h4 Bandcamp
        a(href="http://angeloromano.bandcamp.com") http://angeloromano.bandcamp.com

        h4 Noisetrade
        a(href="http://noisetrade.com/angeloromano") http://noisetrade.com/angeloromano

        h4 Email
        a(href="#") angelo [DOT] romano (AT) gmail [PUNTO] com

        h4 Personal blog
        a(href="http://blog.angeloromano.com") http://blog.angeloromano.com
