extends ../index
block content
    h3 Equipment
    .content
        ul
            li Seagull Natural Elements CW Folk
            li Takamine EG128SC
            li Taylor Baby
            li Cort SJB6FX FL
            li Kazoo
            li E-Bow
            li MEINL Foot Tambourine
        ul
            li Seymour Duncan Acoustic Tube SA-1
            li Shadow SH-145 Gold Prestige
        ul
            li Boss BD-2
            li Behringer RV-600
            li Boss CE-5
            li Digitech Hardwire HW-DL-8
            li Behringer V-Tone Acoustic Driver
            li Fishman Pro EQ II Preamp
        ul
            li D'Addario EJ40 Silk & Steel
            li D'Addario EJ33 Folk Nylon
