extends ../index
block content
  h3 #{concert.date_medium} &ndash; #{concert.venue}
  h4 #{concert.city}, #{concert.country_full}
  .content
    table.table.table-striped
      tr
        td Venue
        if concert.urls && concert.urls.venue
          td
            a(href="#{concert.urls.venue}", target="_blank") #{concert.venue}
        else
          td #{concert.venue}
      tr
        td City
        td #{concert.city}, #{concert.country_full}
      tr
        td Date and time
        if concert.time
          td #{concert.date_short}, #{concert.time}
        else
          td #{concert.date_short}
      if concert.urls
        if concert.urls.facebook
          tr
            td Facebook
            td
              a(href="#{concert.urls.facebook}", target="_blank") #{concert.urls.facebook}
        if concert.urls.setlist
          tr
            td Setlist
            td
              a(href="#{concert.urls.setlist}", target="_blank") #{concert.urls.setlist}
        if concert.urls.photos
          tr
            td Photos
            td
              a(href="#{concert.urls.photos}", target="_blank") #{concert.urls.photos}
        if concert.urls.songkick
          tr
            td Songkick
            td
              a(href="#{concert.urls.songkick}", target="_blank") #{concert.urls.songkick}
        if concert.urls.event
          tr
            td Further information
            td
              a(href="#{concert.urls.event}", target="_blank") #{concert.urls.event}
      if concert.notes
        tr
          td Additional notes
          td #{concert.notes}

