extends ../index
block content
  h3 Live
  .content
    table.table.table-striped
      tr
        th(colspan="4", style="align: center") Upcoming concerts
      tr
        th Date
        th Location
        th City
        th Notes
      each concert in upcoming_concerts
        tr
          if concert.slug
            td
              a(href="/site/live/#{concert.slug}") #{concert.date_medium}
          else
            td #{concert.date_medium}
          if concert.urls && concert.urls.venue
            td
              a(href="#{concert.urls.venue}", target="_blank") #{concert.venue}
          else
            td #{concert.venue}
          td #{concert.city}, #{concert.country}
          td
            - var texts = [{type: 'facebook', text: 'Event'}, {type: 'event', text: 'Event'}];
            +render_top_link(concert.urls, texts, concert.notes)
    table.table.table-striped
      tr
        th(colspan="4", style="align: center") Past concerts
      tr
        th Date
        th Location
        th City
        th Notes
      each concert in past_concerts
        tr
          if concert.slug
            td
              a(href="/site/live/#{concert.slug}") #{concert.date_medium}
          else
            td #{concert.date_medium}
          td #{concert.venue}
          td #{concert.city}, #{concert.country}
          - var texts = [{type: 'facebook', text: 'Link'}, {type: 'photos', text: 'Photos'}, {type: 'setlist', text: 'Setlist'}];
          td
            +render_top_link(concert.urls, texts)
