extends ../index
block content
  h3 Music
  .content.container-fluid
    each album in albums
      h4= album.title
      p Released on #{album.publishing_date}
      div
        ol
          each track in album.tracks
            if track.slug
              li
                a(href="/site/song/#{track.slug}")= track.title
            else
              li= track.title
      div!= album.notes
      if album.urls
        p Links:&nbsp;
          - var url_texts = [{type: 'soundcloud', text: 'SoundCloud'}, {type: 'bandcamp', text: 'Bandcamp'}]
          +render_links(album.urls, url_texts)
      if album.html_embed
        div.player_embed!= album.html_embed
