extends ../index
block content
  h3 News
    each entry in entries
      .content-box.news-box
        a(href="/site/news/#{entry['slug']}")
          h4= entry['title']
        .content!= entry['content']
          p.footer Posted on #{entry['date']}
