extends ../index
block content
  h3= song.title
    .content.container-fluid
      .content-box!= song.lyrics
      if song.urls
        .content-box
          p Links:&nbsp;
            - var url_texts = [{type: 'viinyl', text: 'Viinyl'}, {type: 'soundcloud', text: 'SoundCloud'}, {type: 'bandcamp', text: 'Bandcamp'}]
            +render_links(song.urls, url_texts)
