@import 'nib'

h2
  smooth-button()
  width: 90%
  font-size: 2em

body
  background: no-repeat center center fixed
  -webkit-background-size: cover
  -moz-background-size: cover
  -o-background-size: cover
  background-size: cover

for i in (1..4)
  body.background-00{i}
    background-image: url(s('/images/backgrounds/00%s.jpg', i))

.navbar
  left: 0
  top: 0
  position: absolute
  font-family: Helvetica
  font-size: 16px
  background: transparent
  opacity: 0.8
  width: 100%
  filter: "alpha(opacity=80)"
  margin-top: 4px
  .container
    margin-left: 0px
    margin-top: 8px
    width: 100%
    .navbar-brand
      margin-top: -6px
      font-weight: bolder
    ul
      padding-top: 6px

.page-body
  margin-top: 72px
     
.content-box
  border: 2px solid black
  background-color: rgba(255, 255, 255, .8)
  opacity: 0.8
  padding: 8px
  margin-top: 8px
  h4
    margin-top: 0
  p.footer
    font-style: italic
    font-size: 10px

.page-body
  width: 100%
  padding-left: 32px
  padding-right: 32px + 15px

footer.footer
  width: 100%
  background-color: rgba(255, 255, 255, .6)
  opacity: 0.6  
  padding: 4px
  margin-top: 90px
  font-style: italic
  font-size: 11px
  
.btn-soundcloud
.btn-lastfm
.btn-bandcamp
.btn-youtube
.btn-facebook
.btn-flickr
  width: 36px - 2px
  height: 36px - 2px
  border: 0px
  padding: 1px
  .glyphicon
    width: 32px
    height: 32px

for linksite in (soundcloud facebook lastfm bandcamp youtube flickr)
  .btn-{linksite} .glyphicon
    background: url(s('/images/icons/32px-%s.png', linksite)) no-repeat
    width: 32px
    height: 32px

div.fixed-bottom-right
  position: fixed
  right: 0
  bottom: 0

h3
  margin-top: 20px

pre
  font-family: courier
  background-color: rgba(0,0,0,.8)
  color: yellow
  width: 100%
  margin-bottom: 20px
  padding: 10px
  border: 1px solid black
